{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>
                Welcome
            </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente est corrupti sint quas aliquam, minima labore sit temporibus molestiae nihil tenetur sequi eum dicta, laudantium consequuntur a placeat impedit quaerat.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/img-1.jpg" class="img-thumbnail">
        </div>
    </div>
    

{{> footer }}